html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4;
  color: #111517; }

*,
::before,
::after {
  box-sizing: inherit; }

main {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5625rem 0.9375rem;
  background-color: #fafafa;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1) inset; }

@media (min-width: 1440px) {
  main {
    padding: 3rem 5rem; } }

.page-header {
  background-color: white; }

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.875rem 0.9375rem; }

.page-header__title {
  margin: 0;
  font-size: 0.875rem; }

.page-header__switch {
  position: relative;
  padding: 0;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .page-header__switch::before {
    content: url(../img/switch-icon.svg);
    position: absolute;
    top: 0;
    left: -25px;
    width: 15px;
    height: 15px; }

@media (min-width: 1440px) {
  .page-header__container {
    padding: 1.375rem 5rem; }
  .page-header__title {
    font-size: 1.5rem; }
  .page-header__switch {
    font-size: 1rem; } }

.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }

.flters__search {
  padding: 1rem 4.70rem;
  margin-bottom: 2.35rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  background: white url(../img/search-icon.svg) 50px 50%/15px no-repeat; }

@media (min-width: 1440px) {
  .filters {
    flex-direction: row;
    justify-content: space-between; }
  .flters__search {
    width: 480px;
    padding: 1.3rem 4.70rem;
    margin-bottom: 0; }
  .filters__regions {
    display: flex; } }

.regions__button {
  padding: 1.1rem 5.6rem 1.1rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  background: white;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }

.regions__list {
  display: none; }

@media (min-width: 1440px) {
  .regions__button {
    padding: 1.3rem 5rem 1.3rem 1.5rem;
    font-size: 0.85rem; } }

.cards__list {
  display: flex;
  flex-direction: column;
  align-items: center; }

.cards__item {
  flex: 0 0 265px; }

.cards__item + .cards__item {
  margin-top: 2rem; }

@media (min-width: 1440px) {
  .cards__list {
    flex-direction: row; } }

.card {
  color: inherit;
  text-decoration: none;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1); }

.card__flag {
  vertical-align: top;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }

.card__content {
  padding: 1.6rem 1.56rem 2.81rem; }

.card__name {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  font-weight: 800; }

.card__table {
  display: block; }

.card__table * {
  display: block; }

.card__table tr td {
  display: inline; }

.card__table tr + tr {
  margin-top: 0.2rem; }

.card__stat {
  font-weight: 600; }

.card__data {
  font-weight: 300; }
