.card {
  color: inherit;

  text-decoration: none;

  border-radius: $radius;
  box-shadow: $shadow;
  background-color: var(--elements);
  cursor: pointer;
}

.card__flag {
  vertical-align: top;

  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

.card__content {
  padding: 1.6rem 1.56rem 2.81rem;
}

.card__name {
  margin-top: 0;
  margin-bottom: 0.8rem;

  font-size: 1.1rem;
  font-weight: 800;
}

.card__table {
  display: block;
}

.card__table * {
  display: block;
}

.card__table tr td {
  display: inline;
}

.card__table tr + tr {
  margin-top: 0.2rem;
}

.card__stat {
  font-weight: 600;
}

.card__data {
  font-weight: 300;
}

.card--detailed {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  overflow: auto;

  background-color: var(--bg);
  border-radius: 0;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1) inset;
}

.card--detailed .card__container {
  max-width: 1440px;
  padding: 8.5rem 1.7rem 3.5rem;
  margin: 0 auto;
}

.card--detailed .card__back {
  position: absolute;
  top: 40px;
  left: 28px;

  padding: 0 1.5rem 0 3.2rem;

  color: var(--text);
  line-height: 2.3;
  background-color: var(--elements);
  box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;

  cursor: pointer;

  &::before {
    content: url(../img/arrow.svg);

    position: absolute;
    left: 25px;
    top: 4px;
    width: 16px;
    height: 15px;
  }
}

body.is-dark .card__back {
  &::before {
    content: url(../img/arrow2.svg);
  }
}

.card--detailed .card__flag {
  width: 320px;
  height: auto;
  margin-bottom: 2.6rem;
  border-radius: 0;
}

.card--detailed .card__content {
  padding: 0;
}

.card--detailed .card__name {
  margin-bottom: 1.3rem;
  font-size: 1.4rem;
}

.card--detailed .card__table + .card__table {
  margin-top: 2.7rem;
  margin-bottom: 2.5rem;
}

.card--detailed .card__table tr + tr {
  margin-top: 0.7rem;
}

.card__more span {
  font-size: 1rem;
  font-weight: 600;
}

.card__more ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin: 0;
  padding: 1rem 0 0;

  list-style: none;
}

.card__more li {
  padding: 0 1rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;

  font-size: 0.75rem;
  text-align: center;
  line-height: 2.5;
  background-color: var(--elements);
  box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  cursor: pointer;
}

@media(min-width: 600px) {
  .card--detailed .card__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12.5rem 4.5rem 0 5.5rem;
  }

  .card--detailed .card__back {
    top: 80px;
    left: 88px;

    padding: 0 2.5rem 0 4rem;

    font-size: 1rem;
    line-height: 2.5;

    &::before {
      left: 35px;
    }
  }

  .card--detailed .card__flag {
    width: 560px;
    margin-bottom: 0;
  }

  .card--detailed .card__content {
    width: 600px;
    padding-top: 2.4rem;
  }

  .card--detailed .card__name {
    font-size: 2rem;
    margin-bottom: 1.7rem;
  }

  .card--detailed .card__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 4.7rem;

    overflow: auto;
  }

  .card--detailed .card__table {
    font-size: 1rem;
  }

  .card--detailed .card__table + .card__table {
    margin: 0;
  }

  .card--detailed .card__table tr + tr {
    margin-top: 0.5rem;
  }

  .card__more {
    display: flex;
    align-items: flex-start;
  }

  .card__more span {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .card__more ul {
    flex-grow: 1;
    padding-top: 0;
  }
}

.card--loading {
  position: relative;
  padding-top: 160px;

  &::before {
    content: "";

    position: absolute;
    top: 0;

    width: 265px;
    height: 160px;

    background-color: hsla(210, 13%, 97%, 0);
    background-image: linear-gradient(to right, hsl(0, 0%, 93%) 8%, hsl(0, 0%, 87%) 18%, hsl(0, 0%, 93%) 33%);
    background-size: 800px 100px;
    animation: shimmer 1500ms linear forwards infinite;
  }
}

.card--loading .card__flag {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
