.filters {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 1.5rem 0.9375rem 0;
  margin: 0 auto 2rem;
}

.filters__search {
  width: 345px;
  padding: 0 1rem 0 4.70rem;
  margin-bottom: 2.35rem;

  color: var(--text);
  font-weight: 600;
  line-height: 48px;

  border: none;
  box-shadow: $shadow;
  border-radius: $radius;
  background: var(--elements) url(../img/search-icon.svg) 30px 50%/15px no-repeat;
}

.filters__search::placeholder {
  font-weight: 300;
  font-size: 0.7rem;
}

@media(min-width: 600px) {
  .filters {
    padding: 3rem 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .filters__search {
    width: 480px;
    line-height: 55px;
    margin-bottom: 0;
  }

  .filters__search::placeholder {
    font-size: 0.9rem;
  }

  .filters__regions {
    display: flex;
  }
}
