.regions {
  position: relative;
}

.regions__button {
  position: relative;
  width: 200px;
  padding: 0 1.5rem;

  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text);
  line-height: 50px;
  text-align: left;

  border: none;
  border-radius: $radius;

  background: var(--elements);
  box-shadow: $shadow;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 20px;

    padding: 2px;
    border: solid hsl(200, 15%, 8%);
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
  }
}

.regions__button.opened {
  &::after {
    transform: rotate(230deg);
  }
}

.regions__list {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -173px;
  z-index: 10;

  visibility: hidden;
  width: 200px;
  margin: 0;
  padding: 0.75rem 0;

  list-style: none;
  background-color: var(--elements);
  border-radius: $radius;
  box-shadow: $shadow;
  opacity: 0;
  transition: opacity 100ms linear,
              visibility 0s linear 100ms;
}

.regions__button.opened + .regions__list {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
}

.regions__list label {
  display: block;
  padding: 0 1.5rem;

  font-size: 0.75rem;
  font-weight: 600;
  line-height: 2;

  cursor: pointer;
}


@media(min-width: 600px) {
  .regions__button {
    font-size: 0.85rem;

    &::after {
      top: 24px;
    }
  }

  .regions__list {
    bottom: -193px;
  }

  .regions__list label {
    font-size: 0.85rem;
  }
}
