html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.fade-in {
  opacity: 0;
  animation: fade-in 200ms linear forwards; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes shimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

body {
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --bg: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4;
  color: var(--text);
  background-color: var(--bg);
  transition: background-color 100ms linear; }

body.is-dark {
  --text: hsl(0, 0%, 90%);
  --input: hsl(0, 0%, 52%);
  --bg: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%); }

main {
  position: relative;
  overflow: auto;
  min-width: 375px;
  height: calc(100vh - 5rem);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1) inset; }

*,
::before,
::after {
  box-sizing: inherit;
  transition: inherit; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.page-header {
  height: 5rem;
  background-color: var(--elements); }

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.875rem 0.9375rem; }

.page-header__title {
  margin: 0;
  font-size: 0.875rem;
  cursor: pointer; }

.page-header__switch label {
  position: relative;
  padding: 0;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .page-header__switch label::before {
    content: url(../img/switch-icon.svg);
    position: absolute;
    top: 2px;
    left: -25px;
    width: 15px;
    height: 15px;
    transform: rotate(-25deg); }

#switch:checked ~ label::before {
  content: url(../img/switch-icon2.svg); }

@media (min-width: 600px) {
  .page-header__container {
    padding: 1.475rem 5rem; }
  .page-header__title {
    font-size: 1.5rem; }
  .page-header__switch label {
    font-size: 1rem; } }

.filters {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 1.5rem 0.9375rem 0;
  margin: 0 auto 2rem; }

.filters__search {
  width: 345px;
  padding: 0 1rem 0 4.70rem;
  margin-bottom: 2.35rem;
  color: var(--text);
  font-weight: 600;
  line-height: 48px;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  background: var(--elements) url(../img/search-icon.svg) 30px 50%/15px no-repeat; }

.filters__search::placeholder {
  font-weight: 300;
  font-size: 0.7rem; }

@media (min-width: 600px) {
  .filters {
    padding: 3rem 4.5rem 3rem 5.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0; }
  .filters__search {
    width: 480px;
    line-height: 55px; }
  .filters__search::placeholder {
    font-size: 0.9rem; }
  .filters__regions {
    display: flex; } }

@media (min-width: 840px) {
  .filters__search {
    margin-bottom: 0; } }

.regions {
  position: relative; }

.regions__button {
  position: relative;
  width: 200px;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text);
  line-height: 50px;
  text-align: left;
  border: none;
  border-radius: 0.3rem;
  background: var(--elements);
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  .regions__button::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 20px;
    padding: 2px;
    border: solid #111517;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg); }

.regions__button.opened::after {
  transform: rotate(230deg); }

.regions__list {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -173px;
  z-index: 10;
  visibility: hidden;
  width: 200px;
  margin: 0;
  padding: 0.75rem 0;
  list-style: none;
  background-color: var(--elements);
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 100ms linear, visibility 0s linear 100ms; }

.regions__button.opened + .regions__list {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms; }

.regions__list label {
  display: block;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 2;
  cursor: pointer; }

@media (min-width: 600px) {
  .regions__button {
    font-size: 0.85rem; }
    .regions__button::after {
      top: 24px; }
  .regions__list {
    bottom: -193px; }
  .regions__list label {
    font-size: 0.85rem; } }

.cards {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 1.5rem; }

.cards__list {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(auto-fill, 265px);
  justify-content: center; }

@media (min-width: 600px) {
  .cards {
    padding: 0 4.5rem 4.5rem 5.5rem; } }

@media (min-width: 1300px) {
  .cards__list {
    gap: 4.5rem; } }

.card {
  color: inherit;
  text-decoration: none;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: var(--elements);
  cursor: pointer; }

.card__flag {
  vertical-align: top;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }

.card__content {
  padding: 1.6rem 1.56rem 2.81rem; }

.card__name {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  font-weight: 800; }

.card__table {
  display: block; }

.card__table * {
  display: block; }

.card__table tr td {
  display: inline; }

.card__table tr + tr {
  margin-top: 0.2rem; }

.card__stat {
  font-weight: 600; }

.card__data {
  font-weight: 300; }

.card--detailed {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  overflow: auto;
  background-color: var(--bg);
  border-radius: 0;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1) inset; }

.card--detailed .card__container {
  max-width: 1440px;
  padding: 8.5rem 1.7rem 3.5rem;
  margin: 0 auto; }

.card--detailed .card__back {
  position: absolute;
  top: 40px;
  left: 28px;
  padding: 0 1.5rem 0 3.2rem;
  color: var(--text);
  line-height: 2.3;
  background-color: var(--elements);
  box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  cursor: pointer; }
  .card--detailed .card__back::before {
    content: url(../img/arrow.svg);
    position: absolute;
    left: 25px;
    top: 4px;
    width: 16px;
    height: 15px; }

body.is-dark .card__back::before {
  content: url(../img/arrow2.svg); }

.card--detailed .card__flag {
  width: 320px;
  height: auto;
  margin-bottom: 2.6rem;
  border-radius: 0; }

.card--detailed .card__content {
  padding: 0; }

.card--detailed .card__name {
  margin-bottom: 1.3rem;
  font-size: 1.4rem; }

.card--detailed .card__table + .card__table {
  margin-top: 2.7rem;
  margin-bottom: 2.5rem; }

.card--detailed .card__table tr + tr {
  margin-top: 0.7rem; }

.card__more span {
  font-size: 1rem;
  font-weight: 600; }

.card__more ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 1rem 0 0;
  list-style: none; }

.card__more li {
  padding: 0 1rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 0.75rem;
  text-align: center;
  line-height: 2.5;
  background-color: var(--elements);
  box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  cursor: pointer; }

@media (min-width: 600px) {
  .card--detailed .card__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12.5rem 4.5rem 0 5.5rem; }
  .card--detailed .card__back {
    top: 80px;
    left: 88px;
    padding: 0 2.5rem 0 4rem;
    font-size: 1rem;
    line-height: 2.5; }
    .card--detailed .card__back::before {
      left: 35px; }
  .card--detailed .card__flag {
    width: 560px;
    margin-bottom: 0; }
  .card--detailed .card__content {
    width: 600px;
    padding-top: 2.4rem; }
  .card--detailed .card__name {
    font-size: 2rem;
    margin-bottom: 1.7rem; }
  .card--detailed .card__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4.7rem;
    overflow: auto; }
  .card--detailed .card__table {
    font-size: 1rem; }
  .card--detailed .card__table + .card__table {
    margin: 0; }
  .card--detailed .card__table tr + tr {
    margin-top: 0.5rem; }
  .card__more {
    display: flex;
    align-items: flex-start; }
  .card__more span {
    margin-right: 1rem;
    font-size: 1rem; }
  .card__more ul {
    flex-grow: 1;
    padding-top: 0; } }

.card--loading {
  position: relative;
  padding-top: 160px; }
  .card--loading::before {
    content: "";
    position: absolute;
    top: 0;
    width: 265px;
    height: 160px;
    background-color: rgba(246, 247, 248, 0);
    background-image: linear-gradient(to right, #ededed 8%, #dedede 18%, #ededed 33%);
    background-size: 800px 100px;
    animation: shimmer 1500ms linear forwards infinite; }

.card--loading .card__flag {
  visibility: hidden; }
