body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4;
  color: $lm-text;
}

*,
::before,
::after {
  box-sizing: inherit;
}
