body {
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --bg: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);

  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4;
  color: var(--text);

  background-color: var(--bg);
}

body.is-dark {
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
  --bg: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
}

main {
  position: relative;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

main {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5625rem 0.9375rem;

  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1) inset;
}

@media(min-width: 1440px) {
  main {
    padding: 3rem 5rem;
  }
}
