.cards {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.cards__list {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(auto-fill, 265px);
  justify-content: center;
}

@media(min-width: 600px) {
  .cards {
    padding-bottom: 3rem;
  }
}

@media(min-width: 1300px) {
  .cards__list{
    gap: 4.6rem;
  }
}
