.details {
  position: absolute;
  z-index: 1;

  text-align: center;
  background-color: --bg;
}
.card__flag { }
.details__content { }
.details__name { }
.details__table { }
.details__stat { }
.details__data { }
