.page-header {
  height: 5rem;
  background-color: var(--elements);
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.875rem 0.9375rem;
}

.page-header__title {
  margin: 0;

  font-size: 0.875rem;
}

.page-header__switch label {
  position: relative;
  padding: 0;

  font-size: 0.75rem;
  font-weight: 600;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: url(../img/switch-icon.svg);

    position: absolute;
    top: 2px;
    left: -25px;

    width: 15px;
    height: 15px;

    transform: rotate(-25deg)
  }
}

#switch:checked ~ label {
  &::before {
    content: url(../img/switch-icon2.svg)
  }
}

@media(min-width: 600px) {
  .page-header__container {
    padding: 1.475rem 5rem;
  }

  .page-header__title {
    font-size: 1.5rem;
  }

  .page-header__switch label {
    font-size: 1rem;
  }
}
