.regions__button {
  padding: 1.1rem 5.6rem 1.1rem 1.5rem;

  font-size: 0.75rem;
  font-weight: 600;

  border: none;
  border-radius: $radius;

  background: var(--elements);
  box-shadow: $shadow;
  cursor: pointer;
}

.regions__list {
  display: none;
}

@media(min-width: 1440px) {
  .regions__button {
    padding: 1.3rem 5rem 1.3rem 1.5rem;

    font-size: 0.85rem;
  }
}
